@import '../../../sass/variables';

.Toster {
    background-color: $color-grey-light;
    @include makeSquare($toster-size);
    border-radius: 30% 30% 5% 5%;
    position: relative;
    box-shadow: inset 3px 3px 0px 3px $color-grey-dark;

    &::after {
        @include makePseudo;
        @include makeSquare(20px);
        background-color: $color-orange-light;
        border-radius: 50%;
        bottom: 15%;
        right: 15%;
    }
}

@media(min-width:450px) {
    .Toster {
        @include makeSquare($toster-size-450);

        &::after {
            @include makeSquare(25px);
        }
    }
}

@media(min-width:640px) {
    .Toster {
        @include makeSquare($toster-size-640);

    }
}