@import '../../../sass/variables';

.Number {
    font-size: 35vw;
    text-align: center;
    color: $color-blue;
    display: block;
    opacity: 0.1;
    transition: 1s;
    line-height: 0.8;
    font-family: arial;

    &Active {
        opacity: 1;
    }
}

@media(min-width:640px) {
    .Number {
        font-size: 200px;
    }
}

@media(min-width:768px) {
    .Number {
        grid-area: num;
    }
}