$color-blue:#34495e;
$color-white:#fff;
$color-grey-light:#ccc;
$color-grey-dark:#aaa;
$color-orange:#e67e22;
$color-bread-start:#f39c12;
$color-bread-end-strong:rgb(97, 75, 68);
$color-bread-end:#8D6E63;

$sign-size:55px;
$nav-size:55px;
$footer-size:35px;
$bread-size:62px;
$toster-size:#{2 * $bread-size};

$bread-select-transition:.1s;

@mixin makeSquare($a) {
    width: $a;
    height: $a;
    line-height: $a;
}

@mixin makePseudo() {
    content: "";
    position: absolute;
}

@mixin putInCenter() {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}