@import './variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 100%;
    font-size: 20px;
}

button,
input {
    border: none;
    outline: none;
    font: inherit;
}

a {
    font: inherit;
    color: inherit;
    display: block;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

li {
    list-style: none;
}


.line {
    color: $color-blue;
    width: 90%;
    margin: 0 auto;
    border: 0;
    border-bottom: 3px solid $color-blue;
}

.Section {
    width: 100%;
    padding-top: #{$nav-size + 20px};
    padding-bottom: #{$footer-size + 20px};
    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: 20px;
    position: relative;
    animation: showFadeIn .25s linear;

    &Head {
        font-size: 28px;
        width: 70%;

        &Desc {
            max-width: 70%;
            font-size: 20px;
            text-align: center;
        }

        &Big {
            font-size: 34px;
        }
    }

    &Form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Input {
        border: 2px solid $color-orange-light;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 1.2em;
        width: 70%;
        // width: auto;

        &:focus {
            // background-color: #eee;
            // border-color: $color-orange-dark;
        }
    }

    &MiniOpacityText {
        font-size: 20px;
        text-transform: lowercase;
        // color: $color-grey;
        opacity: 0.5;
        display: inline-block;

        // &Big {
        //     font-size: 24px;
        // }
    }
}

@keyframes showFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddRemoveWrap {
    display: grid;
    row-gap: 20px;
    width: 85%;
}