@import '../../sass/variables';

.Section {
    &Head {
        color: $color-blue;
        text-align: center;
        font-size: 2em;
        width: auto;
    }

    &TostsList {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}