@import '../../../sass/variables';

.Sign {
    background-color: $color-orange-light;
    z-index: 2;
    font-size: #{0.8*$sign-size};
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: $color-blue;
    transition: $bread-select-transition;
    border-radius: 20%;
    @include makeSquare($sign-size);

    &:disabled {
        background-color: $color-grey-light;
        color: #000;

        &::after,
        &::before {
            background-color: #000;
        }
    }

    &:active {
        transform: scale(0.9);
    }




    &Plus {
        &::after {
            @include makePseudo;
            @include putInCenter;
            width: 75%;
            height: 20%;
            background-color: $color-blue;
        }

        &::before {
            @include makePseudo;
            @include putInCenter;
            width: 20%;
            height: 75%;
            background-color: $color-blue;
        }
    }

    &Minus {
        &::after {
            @include makePseudo;
            @include putInCenter;
            width: 75%;
            height: 20%;
            background-color: $color-blue;
        }


    }
}

@media(min-width:640px) {
    .Sign {
        font-size: #{0.8*$sign-size-640};
        @include makeSquare($sign-size-640);
    }
}