@import '../../../sass/variables';

.Sign {
    background-color: $color-orange;
    z-index: 2;
    font-size: #{0.8*$sign-size};
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-blue;
    transition: $bread-select-transition;

    &:disabled {
        background-color: $color-grey-light;
        color: #000;

        &::after,
        &::before {
            background-color: #000;
        }
    }

    @include makeSquare($sign-size);
    position: relative;

    &Plus {

        &::after {
            @include makePseudo;
            @include putInCenter;
            width: 75%;
            height: 20%;
            background-color: $color-blue;
        }

        &::before {
            @include makePseudo;
            @include putInCenter;
            width: 20%;
            height: 75%;
            background-color: $color-blue;
        }
    }

    &Minus {
        &::after {
            @include makePseudo;
            @include putInCenter;
            width: 75%;
            height: 20%;
            background-color: $color-blue;
        }


    }
}