@import '../../sass/variables';

.nav {
    height: $nav-size;
    width: 100%;
    background-color: $color-blue;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    &Head {
        color: $color-white;
        font-size: 32px;
        margin-left: 10px;

        &::first-letter {
            color: $color-orange-light;
        }
    }
}