@import '../../../sass/variables';

.TostCard {
    min-width: 300px;
    box-sizing: content-box;
    width: 30%;
    display: grid;
    padding: 10px 20px;
    align-items: center;
    grid-template-areas: 'name name''date bread''list bread';

    &Name {
        position: relative;
        grid-area: name;
        width: auto;
    }

    &Date {
        color: $color-blue;
        height: auto;
        grid-area: date;
        white-space: nowrap;
    }

    &WrapName {
        position: relative;
        white-space: nowrap;

        &::after {
            @include makePseudo;
            right: -10px;
            top: 50%;
            height: 80%;
            transform: translateY(-50%);
            width: 3px;
            background-color: $color-orange-light;
        }
    }

    &Bread {

        grid-area: bread;
        transform: scale(0.7);
        align-self: flex-end;
        justify-self: flex-start;
        margin-right: auto;
    }

    &Food {
        text-transform: capitalize;
    }

    &List {
        grid-area: list;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;

        &Element {
            margin-right: 5px;
        }
    }

    &Quantity {
        font-family: 'B612 Mono', monospace;
    }
}

@media(min-width:640px) {
    .TostCard {
        min-width: 385px;
    }
}

@media(min-width:1024px) {
    .TostCard {
        &List {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
}