.AddRemoveWrap {
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    // justify-content: center;
    // width: 85%;
    // margin: 0 auto;
    display: grid;
    row-gap: 20px;
    width: 85%;
}