@media(min-width:768px) {
    .HomePage {
        grid-template-areas: 'addRemove addRemove''num tost''num tost';
        align-items: center;
    }

    .line {
        grid-column: 1 / -1;
    }
}

@media(min-width:960px) {
    .HomePage {
        grid-template-areas: 'addRemoveHome tost''number tost';
    }
}