@import '../../sass/variables';

.Footer {
    font-size: #{0.7* $footer-size};
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-blue;
    color: $color-orange;
    padding: 4px 0;
}