@import '../../sass/variables';

.Footer {
    font-size: #{0.7* $footer-size};
    display: flex;
    position: fixed;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: $color-blue;
    color: $color-orange-light;
    padding: 4px 0;
}

@media(min-width:768px) {
    .Footer {
        font-size: #{0.8* $footer-size};
    }
}

@media(min-width:1024px) {
    .Footer {
        font-size: #{0.9* $footer-size};
    }
}