@import '../../../sass/variables';

.Cheese {
    position: absolute;
    background-color: $color-yellow-light;
    z-index: 2;
    border-radius: 39% 16% 18% 20%;
    width: 47%;
    height: 84%;
    box-shadow: inset 3px -3px 0 3px $color-yellow-dark;

    &::after {
        @include makePseudo;
        width: 24%;
        height: 16%;
        background-color: $color-yellow-dark;
        border-radius: 61% 39% 67% 33% / 20% 64% 36% 80%;
        top: 80%;
        left: 20%;
    }

    &::before {
        @include makePseudo;
        width: 32%;
        height: 24%;
        transform: rotate(75deg);
        background-color: $color-yellow-dark;
        border-radius: 61% 39% 67% 33% / 20% 64% 36% 80%;
        top: 30%;
        left: 50%;
    }

    &1 {
        left: 6%;
        top: 10%;
        transform: rotate(5deg) scaleY(-1)
    }

    &2 {
        height: 88%;
        right: 6%;
        top: 3%;
        transform: rotate(-2deg)
    }
}

@media(min-width:768px) {
    .Cheese {
        box-shadow: inset 6px -6px 0 3px $color-yellow-dark;
    }
}

@media(min-width:1024px) {
    .Cheese {
        box-shadow: inset 8px -8px 0 3px $color-yellow-dark;
    }
}