@import '../../../sass/variables';

.Bread {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $bread-size-big;
    margin: 0 auto;

}

.WrapList {
    width: 100%;
}


@media(min-width:450px) {
    .Bread {
        width: auto;
    }
}

@media(min-width:860px) {
    .WrapList {
        max-width: 650px;
        margin: 0 auto;
    }
}

@media(min-width:1024px) {
    .Build {
        grid-template-areas: 'addRemove tost';
        grid-template-rows: auto;
    }

    .Bread {
        height: $bread-size-big-640;
        align-self: center;
        justify-self: flex-end;
    }
}