@import '../../sass/variables';

.AddRemover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &Text {
        font-size: 28px;
        text-transform: capitalize;
        width: 70%;

        &Little {
            font-size: 0.75em;
            text-transform: lowercase;
            // color: $color-grey;
            opacity: 0.5;
            display: inline-block;
        }
    }

    &SignsWrap {
        min-width: #{($sign-size * 2)+20px};
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}