@import '../../sass/variables';

.AddRemover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &Text {
        text-transform: capitalize;

        &Center {
            display: flex;
            align-items: center;
        }
    }

    &SignsWrap {
        min-width: #{($sign-size * 2)+20px};
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}