@import '../../sass/variables';

.AddRemover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 475px;
    margin: 0 auto;

    &Text {
        text-transform: capitalize;

        &Center {
            display: flex;
            align-items: center;
        }
    }

    &SignsWrap {
        min-width: #{($sign-size * 2)+20px};
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(min-width:640px) {
    .AddRemover {
        &SignsWrap {
            width: 35%;
            min-width: #{($sign-size-640 * 2)+20px};
        }
    }
}